body{
  background-color: purple;
  color:white;
}
a{
  background-color: #ff8c00 ;
  color: white;
  text-decoration: none;
  width:250px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
h4{
  margin-bottom: 0px;
}
#first{
      margin-top: 0px;
}
.person{
  background-color:  #ff8c00 ;
  width:100%;
  color: white;
  height:50px;
  padding: 25px;
  margin-bottom:10px;
  font-size: 15px;
}
button{
  background-color:  #ff8c00 ;
  color: white;
  width:140px;
  height:40px;
  padding: 10px;
  font-size: 5px;
}
